@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.btn {
    padding: 14px 26px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-danger {
    background-color: #e34c43;
    border-color: #e34c43;
}
 .mainmenu ul li a {
    font-size: 15px;
    display: block;
    text-decoration: none;
     color:#FFF;
    font-weight: 500;
    text-transform: uppercase;
    padding: 30px 12px;
     transition: .3s;
    -webkit-transition: all 0.3s ease 0s;
}


.mainmenu ul li:hover > a, .mainmenu ul li.active > a {
    background: #e34c43;
}
.banner-image{
    background: linear-gradient(rgba(29, 38, 113, 0.1), rgba(195, 55, 100, 0.1)), url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
     background-repeat: no-repeat;
         height: auto;
    width: 100%;
}
 .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #e34c43;
    text-decoration: none!important;
    outline: none;
}
.logo:hover{
    color:#e34c43;
}
 .logo1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    outline: none;
}
.hero-text  {
    margin: 0;
    font-size: 40px;
    font-weight:bold;
    line-height: 56px;
    color: #fff;
    
}
.main-heading{
    font-size: 30px;
    font-weight:600;
    position: relative;
    
    color: #fff;


}
.main-heading:before {
    content: "";
    position: absolute;
    width: 22%;
    height: 4px;
    bottom: -24px;
    left: 124px;
    background-color: #e34c43;
    
    transition: all 0.3s ease-in-out 0s;
}
.form-control:focus{

    background-color: #25272a;
    box-shadow: none;
    border:2px solid#fff;
   }
.lead {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: 600;
}
.label-check{
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 15px;
    font-weight: 400;
    outline: none!important;

}
nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    background:#000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: padding 1s;
}
nav.sticky ul{
    width: auto;

}
.lead-form{

    margin:0 auto;
    width: 500px;
    height: 600px;
    background-color: #000000;
    opacity: .6;
    box-shadow: 0 0px 30px black;
}

.form-group input{
    border: none;
    width: 85%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: white;
  }
  .form-group select{
    border: none;
    width: 85%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: white;
    margin-right: 63px;
  }
  .form-check-label{
    margin-top: 2px;
    font-size: 14px;
    color:#fff;
    font-weight: 500;
   }
   .text-privacy{
    font-size: 14px;
    color:#fff;
    font-weight: 300;

   }
   .anchor-p{
    font-size: 14px;
    color:#fff;
    font-weight: 400;
     text-decoration:none!important ;

   }
   .privacy-term a:hover{
    text-decoration: none!important;
    color:#FFF
}
   .form-check{
    margin-left: 17px;
   }
   option{
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #000000;
    box-shadow: transparent;
    opacity: .6;  
   }
   hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: rgba(255, 255, 255, 0.6);
    background-color: grey;
    transition: 0.3s;   
  } 
  
  
@media(max-width:780px){
.display-4{
font-size:36px;    
}
}
